# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/*/node_modules

/web-frontend/prisma
/backend/prisma

# testing
/coverage
/*/coverage

# next.js
/.next/
/*/.next/

/out/
/*/out/

# production
/build
/*/build

# misc
.DS_Store
/*/.DS_Store
*.pem
/*/*.pem

# debug
npm-debug.log*
/*/npm-debug.log*
yarn-debug.log*
/*/yarn-debug.log*
yarn-error.log*
/*/yarn-error.log*
.pnpm-debug.log*
/*/.pnpm-debug.log*

# local env files
.env
/*/.env
.env.local
/*/.env.local
.env*.local
/*/.env*.local
# vercel
.vercel
/*/.vercel

# typescript
*.tsbuildinfo
/*/*.tsbuildinfo
